body {
	font-family: 'Sniglet', cursive;
	background-color: #b33600;
	padding:0;
	margin: 0;
}
h2{
	box-shadow: inset -9px 8px 11px -6px rgba(0,0,0,0.75);
	padding: 5px;
	background-color: #ffc887;
	font-size: 25px;
}
#wrapper{
	width: 960px;
	margin: 0 auto;
}
#login{	/*top nav bar login*/
	color:#464646;
	margin: 10px;
	display: inline;
	float: right;
}
#nav{
	/*margin-bottom: 20px;*/
	box-shadow: 3px 6px 12px -7px #000;
	height: 50px;
	background-color: #ffc887;
}

#addForm > input{
	line-height: 20px;
	font-size: 19px;
	color: orange;
	margin-left: 5px;
	padding:5px;
	display: block;
}
label>input{
	padding: 20px;
}
#signUpf { /*the signup form*/
	box-shadow: 3px 6px 12px -7px #000;
	border-radius: 5px;
	width: 300px;
	height: 400px;
	padding:1px 0px 10px 10px;
	background-color: hsla(32, 100%, 50%, 0.74);
	float: left;
}
#content{
	border-radius: 5px;
	box-shadow: 3px 6px 12px -7px #000;
	margin-left: 45px;
	padding: 10px;
	width: 350px;
	float: right;
	background-color: hsla(32, 100%, 50%, 0.74);

}
#info{
	box-shadow: 3px 6px 12px -7px #000;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	width: 200px;
	background-color: hsla(32, 100%, 50%, 0.74);
}
#projectlist{
	position: relative; 
	top: -375px;
	left: 264px;
	background-color: #ff8a00;
	width: 700px;
	
}

/*----------TOOOLTIP CLASS----------*/
.tooltip{
	display:none;
	position: absolute;
	border:1px solid black;
	background-color: red;
	border-radius: 5px;
	padding: 7px;
	color: #fff;
	font-size: 12px arial;
}
/*----------^^^^END TOOL TIP^^^------*/
ul{

	z-index: -1;
	margin:0px;
	padding: 0px;
}
li{
	transition: background-color 1.5s ease;
	padding: 5px;
	box-shadow: 3px 6px 12px -7px #000;
	text-align: center;
	background-color:#87e4ff;
	width:100px;
	height: 20px;
	
}
li:hover{
	background-color: #21cdff;
}

ul li{

	display: inline-block;
	list-style-type: none;
}
#signUpf>input{
	display: block;
	width:200px;
	font-size: 16px;
	height: 30px;
}

br > button{
	background-color: red;
}

input[type=button]{
	background: #ff8a00;
	border: none;
	color: white;
	line-height: 20px;
	border-radius: 5px;
	margin-top:5px;
}
button{
	background: red;
	border: none;
	color: white;
	line-height: 20px;
	border-radius: 5px;
}
footer{
	position: fixed;
	bottom: 0;
	right: 0;
}
blockquote{
	border-left: 1px solid black;
	padding-left: 4px;
	font-style: italic;
}

#clearFix{
	clear: both;
}
/*-----MODAL-----*/
#overlay{
	width:100%;
	height: 100%;
	background:rgba(179, 54, 0, 0.5);
	position: absolute;
	top:0;
	left: 0;
	z-index: 1000;
	display: none;
}
#modal{
	width: 350px;
	background:#ccc;
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -200px;
	z-index: 1001;
	display: none;
}
#modal .header{
	background: #333;
	color:#fff;
	padding: 10px;
}
#modal p {
	margin:15px;
}
#modal .close{
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 16px;
	font-weight: bold;
	padding: 5px 10px;
	border:1px solid #ccc;
	cursor:pointer;
	background-color: #F00;
}
.mysatus>input[type=radio]{
	display: none;
}
.input[type=radio]+img{
	cursor: pointer;
	border:2px solid transparent;
}
input[type=radio]:checked+img{
	border:2px solid #f00;
}
/*------------TABBBBBBSSS-----------*/
  
.tabs {   
   background-color: hsla(32, 100%, 50%, 0.74);
   float: right;
   width: 950px;
   margin-top: 10px; 
   border-radius: 5px;  
 
}  
ul.tabs-nav {  
   margin-bottom:7px;   
   padding:0px;          
}  
ul.tabs-nav li {  
   list-style:none;  
   display:inline;  
}  
ul.tabs-nav li a {  
   text-decoration:none;
   border-bottom: 0;  
}  
ul.tabs-nav li a.current {  
   color:#282e32;  
     
}  
.tabs div { 
	padding-left: 5px;  
   display:none;  
   overflow:hidden;  
}  
.tabs div.selected { 
   display:block;  
}    
